// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

table.board-table
  width: 70%
  margin: auto

  td
    width: 33.3%
