%ul.nav
  %li.dropdown
    %a.dropdown-toggle{ href: '#', 'data-toggle' => "dropdown" }
      %span.Board-dropdown-title Admin options
      %b.caret
    %ul.dropdown-menu
      %li
        %a{ href: new_admin_user_path } 
          %i.icon-user
          Create new user
      %li
        %a{ href: admin_users_path } 
          %i.icon-th-list
          See all users
      %li.divider
      %li
        %a{ href: new_user_group_path } 
          %i.icon-plus
          Create new user group
      %li
        %a{ href: user_groups_path } 
          %i.icon-list-alt
          See all user group
      %li.divider
      %li
        %a{href:'#'}
          %i.icon-plus-sign
          Create new board
