%ul.nav
  %li.dropdown
    %a.dropdown-toggle{ href: '#', 'data-toggle' => "dropdown" }
      %span.Board-dropdown-title Pomodoro Timer
      %b.caret
    %ul.dropdown-menu
      %li.start-timer-button
        %a{ href: '#' } 
          %i.icon-play
          Start Timer
      %li.continue-timer-button
        %a{ href: '#' } 
          %i.icon-play
          Continue Timer
      %li.pause-timer-button
        %a{ href: '#' } 
          %i.icon-pause
          Pause Timer
      %li
        %a{ href: '#' } 
          %i.icon-time
          %span.time-left 00:00
      %li.stop-timer-button
        %a{ href: '#' } 
          %i.icon-stop
          Stop Timer
